<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/index.html' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% assign pages_list = site.pages_list %}
    {% for node in pages_list %}
          <a class="sidebar-nav-item{% if page.url contains node[1] %} active{% endif %}" href="{{ node[1] }}">{{ node[0] }}</a>
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.repo }}">Site's Source Code</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">
      Ø 20{15..18} - No Rights Reserved.
    </a>
  </div>
</div>
